@font-face {
  font-family: 'MistBrush';
  src: url('shared/assets/fonts/MisterBrush.ttf') format('truetype');
}

@font-face {
  font-family: 'Shen';
  src: url('shared/assets/fonts/Shentox-Regular\ \(RUS\ by\ Slavchansky\)_0.ttf')
    format('truetype');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5c20c;
  background-image: url('shared/assets/cracks.png');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
