.modal {
  border-radius: 10px;
  border: none;
  margin: auto;
  padding: 10px;
  width: 600px;
  background: #2e3034;

  &::backdrop {
    background: #000;
    opacity: 0.5;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  font-size: 30px;
  font-family: MistBrush;
  color: #debe03;

  svg {
    width: 40px;
    height: 40px;
    fill: #debe03;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

.content {
  width: 100%;
  height: 200px;
  background: #f3e2a3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
    font-family: Shen;
    background: #debe03;
    color: #2e3034;

    svg path {
      transition: 0.3s;
      stroke: #2e3034;
    }

    &:hover {
      cursor: pointer;
      scale: 1.03;

      svg path {
        stroke: #084908;
      }
    }
  }
}

.input {
  display: flex;
  flex-direction: row;
  gap: 10px;

  label {
    font-size: 20px;
    font-family: Shen;
    line-height: 25px;
  }

  input {
    width: 200px;
    font-size: 20px;
    font-family: Shen;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;

    &:focus-within {
      outline: none;
    }
  }
}

.error {
  outline: 2px solid #a00000;
}

.wrongPassword {
  font-size: 16px;
  text-align: center;
  color: #a00000;
  font-family: Shen;
}
