.card {
  display: grid;
  grid-template-rows: 40px auto 40px;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.input {
  color: #f5f6f6;
  border: none;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  background: #a5a5a57c;
  line-height: 40px;
  font-size: 25px;
  font-family: MistBrush;
  font-weight: 400;
  z-index: 2;

  &::placeholder {
    color: #f5f6f6a6;
  }

  &:focus-visible {
    outline: none;
  }
}

.textarea {
  resize: none;
  font-family: Shen;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background: #f5d152;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  overflow: auto;
  text-align: center;
  z-index: 2;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  &:focus-visible {
    outline: none;
  }
}

.buttons {
  display: grid;
  z-index: 2;

  button {
    width: min-content;
    margin: auto;
    background: inherit;
    border: none;
    transition: 0.4s;

    svg {
      transition: 0.4s;
    }

    &:hover {
      cursor: pointer;
      scale: 1.2;
    }
  }
}

.editButtons {
  grid-template-columns: repeat(3, 1fr);
}

.createButtons {
  grid-template-columns: repeat(2, 50%);
}

.error {
  outline: 2px solid #a51111 !important;
}

.tick {
  path {
    transition: 0.4s;
    stroke: #f5f6f6;
  }

  &:hover path {
    stroke: #096309;
  }
}

.cross {
  fill: #f5f6f6;

  &:hover {
    fill: #631414;
  }
}

.trash {
  path {
    transition: 0.4s;
    stroke: #f5f6f6;
  }

  &:hover path {
    stroke: #631414;
  }
}
