.info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  border-bottom: 1px solid #f5c20c;
  padding-top: 10px;
  padding-bottom: 5px;
  background: #f3e2a3;
  border-radius: 10px 10px 0px 0px;

  .title {
    color: #747474;
  }

  p {
    font-family: Shen;
    font-size: 20px;
    color: #2e3034;
  }
}

.infoLine {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  border: none;
  padding: 0px 10px;
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 20px;
  font-family: Shen;
  background: #debe03;
  color: #2e3034;

  svg {
    width: 20px;
    height: 20px;
    path {
      transition: 0.3s;
      stroke: #2e3034;
    }
  }

  &:hover {
    cursor: pointer;
    scale: 1.03;

    svg path {
      stroke: #5e0909;
    }
  }
}

@media (max-width: 768px) {
  .info {
    position: sticky;
    top: 0px;
  }

  .waiting {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
