.errorMessage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-family: Shen;
    font-size: 40px;
    text-align: center;
  }

  svg {
    height: 50px;
    width: 50px;

    path {
      fill: #2e3034;
    }
  }
}

.noWindowPadding {
  padding: 0px;
}

@media (max-width: 768px) {
  .errorMessage {
    height: calc(100dvh - 100px);
  }
}
