.windowWrapper {
  width: calc(100dvw - 20px);
  height: calc(100dvh - 20px);
  margin: 10px;
  padding: 10px;

  background: #2e3034;
  background-image: url('/shared/assets/border.png');

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.window {
  width: 100%;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background: #f3e2a3;

  color: #2e3034;

  border-radius: 10px;

  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(0 21 41);
    border-radius: 5px;
  }
}

.headerBlock {
  display: flex;
  flex-direction: row;
  gap: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
  width: calc(100dvw - 30px);
}

.backButton {
  background: #debe03;
  color: #1c1d1a;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;

  font-family: Shen;

  font-size: 18px;
  width: max-content;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    scale: 1.03;
  }
}

.header {
  color: #debe03;
  font-family: MistBrush;
  text-align: left;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .windowWrapper {
    margin: 5px;
    min-height: calc(100dvh - 10px);
    width: calc(100dvw - 10px);
    height: max-content;
  }

  .window {
    height: max-content;
    min-height: calc(100dvh - 80px);
    overflow: visible;
  }

  .header {
    text-align: center;
  }
}
