.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player {
  background: #2e3034;
  border-radius: 10px;
  color: #debe03;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: Shen;
  padding: 5px 20px;

  .ready {
    color: #0b750b;
  }

  .notReady {
    color: #a80a0a;
  }
}

.button {
  border: none;
  padding: 0px 10px;
  border-radius: 10px;
  transition: 0.3s;

  background: #debe03;
  color: #2e3034;

  svg {
    width: 20px;
    height: 20px;
    path {
      transition: 0.3s;
      stroke: #2e3034;
    }
  }

  &:hover {
    cursor: pointer;
    scale: 1.03;

    svg path {
      stroke: #5e0909;
    }
  }
}
