.header {
  font-size: 40px;
  font-weight: 500;

  font-family: MistBrush;
  text-align: center;
}

.text {
  font-size: 30px;
  font-weight: 100;

  font-family: Shen;

  text-decoration: underline;

  transition: 0.4s;

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}
