.gamesList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: center;
  width: 700px;
  height: max-content;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #f5c20c;
  font-family: MistBrush;
}

.noGames {
  color: #808080;
  font-size: 24px;
  font-family: Shen;
  font-weight: 400;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
  background: #0000001a;
  padding: 5px 15px;

  font-family: Shen;
  font-size: 20px;
  color: #2e3034;

  button {
    font-family: Shen;
    font-size: 20px;

    border: none;
    border-radius: 10px;

    background: #debe03;
    color: #2e3034;
    padding: 0px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;

    svg {
      transition: 0.2s;

      path {
        transition: 0.2s;
      }
    }

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

@media (max-width: 768px) {
  .gamesList {
    width: 100%;
  }

  .game {
    flex-direction: column;
  }
}
