.modal {
  border-radius: 10px;
  border: none;
  margin: auto;
  padding: 10px;
  width: 600px;
  background: #2e3034;

  &::backdrop {
    background: #000;
    opacity: 0.5;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  font-size: 30px;
  font-family: MistBrush;
  color: #debe03;

  svg {
    width: 40px;
    height: 40px;
    fill: #debe03;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

.content {
  width: 100%;
  height: 200px;
  background: #f3e2a3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .content {
    height: 250px;
  }
}
