.cards {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 600px;
}

.card {
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f5d152;
  list-style: none;
  font-size: 20px;
  font-family: Shen;

  &::marker {
    content: '';
  }

  &::-webkit-details-marker {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.baggage {
  color: #293c92;
  svg {
    fill: #293c92;
  }
}

.biology {
  color: #e36d03;
  svg {
    fill: #e36d03;
  }
}

.facts {
  color: #04accd;
  svg {
    stroke: #04accd;
  }
}

.health {
  color: #cd2f2c;
  svg {
    fill: #cd2f2c;
  }
}

.hobby {
  color: #678e2d;
  svg {
    fill: #678e2d;
  }
}

.profession {
  color: #776f8f;
  svg {
    fill: #776f8f;
  }
}

.cardDescription {
  text-align: center;
  background: #2e3034;
  border-radius: 10px;
  color: #debe03;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Shen;
  font-size: 18px;
}

.positive {
  color: #0b750b;

  svg path {
    stroke: #0b750b;
  }
}

.negative {
  color: #a80a0a;

  svg path {
    stroke: #a80a0a;
  }
}

.green {
  color: #0b750b !important;
}

.red {
  color: #a80a0a !important;
}

.interactionLine {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.interactions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cards {
    width: 100%;
    padding: 5px;
  }
}
