.createGame {
  border: none;
  margin-top: 5px;
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 20px;
  font-family: Shen;

  background: #debe03;
  color: #2e3034;

  &:hover {
    cursor: pointer;
    scale: 1.03;
  }
}
