.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  text-align: center;
  flex-direction: 30px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: Shen;
  p {
    width: 100%;
    text-align: center;
  }
}

.notOpenedCard {
  background: #808080;
  color: #c0c0c0;
}

.openedCard {
  background: #f5d152;
  list-style: none;

  &::marker {
    content: '';
  }

  &::-webkit-details-marker {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.baggage {
  color: #293c92;
  svg {
    fill: #293c92;
  }
}

.biology {
  color: #e36d03;
  svg {
    fill: #e36d03;
  }
}

.facts {
  color: #04accd;
  svg {
    stroke: #04accd;
  }
}

.health {
  color: #cd2f2c;
  svg {
    fill: #cd2f2c;
  }
}

.hobby {
  color: #678e2d;
  svg {
    fill: #678e2d;
  }
}

.profession {
  color: #776f8f;
  svg {
    fill: #776f8f;
  }
}

.bunker {
  color: #535457;
  svg {
    fill: #535457;
  }
}

.disaster {
  color: #ac8103;
  svg {
    fill: #ac8103;
  }
}

.risk {
  color: #535457;
  svg {
    fill: #535457;
  }
}

.inactiveFill {
  fill: #c0c0c0;
}

.inactiveStroke {
  stroke: #c0c0c0;
}

.plus path {
  stroke: #0b750b;
}

.minus path {
  stroke: #a80a0a;
}

.positive {
  h4 {
    color: #0b750b;
  }

  svg {
    path {
      stroke: #0b750b;
    }
  }
}

.negative {
  h4 {
    color: #a80a0a;
  }

  svg {
    path {
      stroke: #a80a0a;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  padding: 5px;
  background: #2e3034;
  color: #debe03;
  border-radius: 10px;
  font-family: Shen;
  font-size: 18px;
}

.interactions {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Shen;

  h4 {
    font-weight: 500;
  }
}

.interactionLine {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
