.cardInfo {
  width: 250px;
  border-radius: 10px;
  height: max-content;
}

.opened {
  background: #f5d152;
}

.card {
  height: 350px;

  border-radius: 10px;

  padding: 15px;
  list-style: none;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('/shared/assets/card_border.png');
    background-size: 100% 100%;
    border-radius: 10px;
    z-index: 1;
  }

  &::marker {
    content: '';
  }
}

.cardContent {
  height: 100%;
  width: 100%;
  border-radius: 11px;
  display: grid;
  grid-template-rows: 40px auto 40px;
  grid-template-columns: 100%;

  text-align: center;

  h4 {
    z-index: 2;
    color: #f5f6f6;
    line-height: 40px;
    font-size: 25px;
    font-family: MistBrush;
    font-weight: 400;

    &:first-child {
      border-radius: 10px 10px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 10px 10px;
    }
  }
}

.descriptionWrapper {
  background: #f5d152;
  display: flex;
  flex-direction: column;

  gap: 5px;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  padding: 5px;
  z-index: 2;

  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  p {
    font-family: Shen;
    font-size: 16px;
    line-height: 19px;
    z-index: 2;
  }

  &:hover {
    cursor: pointer;
  }
}

.description {
  margin: auto;
  max-height: max-content;
}

.name:hover {
  cursor: pointer;
}

.header {
  position: relative;

  svg {
    position: absolute;
    right: 0;
    height: 40px;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      scale: 1.05;
    }

    path {
      stroke: #f5f6f6;
    }
  }
}
