.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #0000002d;
  transition: 0.4s;

  svg path {
    stroke: #f5f6f6;
  }

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

.addSelect {
  display: grid;
  width: 100%;
  grid-template-columns: auto 30px 30px;

  svg {
    height: 40px;
    transition: 0.4s;

    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }
}

.tick {
  path {
    stroke: #096309;
  }
}

.cross {
  fill: #631414;
}
