.noInteractions {
  font-size: 18px;
  font-family: Shen;
  padding: 10px;
  text-align: center;
  color: rgb(99, 99, 99);
}

.interactions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  font-size: 18px;
  line-height: 30px;
  font-family: Shen;
  text-align: center;
  border-bottom: 1px solid #2e3034;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.interaction {
  height: 40px;
  border-radius: 10px;
  padding: 0px 5px;
  display: grid;
  grid-template-columns: 30px auto 30px;
  text-align: center;
  align-items: center;
  background: #caac44;
  color: #f5f6f6;

  p {
    font-family: Shen;
    font-size: 18px;
  }
}

.trash {
  path {
    transition: 0.3s;
    stroke: #f5f6f6;
  }

  &:hover {
    cursor: pointer;

    path {
      stroke: #631414;
    }
  }
}

.baggage {
  fill: #293c92;
}

.biology {
  fill: #e36d03;
}

.bunker {
  fill: #535457;
}

.disaster {
  fill: #ac8103;
}

.facts {
  stroke: #04accd;
}

.health {
  fill: #cd2f2c;
}

.hobby {
  fill: #678e2d;
}

.profession {
  fill: #776f8f;
}

.risk {
  fill: #535457;
}
