.blockWrapper {
  max-width: 760px;
  max-height: max-content;
  height: max-content;
}

.block {
  padding: 40px 10px;
}

.menuBlock {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  gap: 50px;
  justify-content: left;
  background: #1c1d1a;
  color: #debe03;
  border-radius: 10px;

  transition: 0.4s;

  svg {
    width: 35px;
    height: 35px;
  }

  p {
    font-size: 30px;
    line-height: 35px;
  }

  &:hover {
    cursor: pointer;
    scale: 1.02;
  }
}

.svgStroke {
  stroke: #debe03;
}

.svgFill {
  fill: #debe03;
}

.svgPathStroke {
  path {
    stroke: #debe03;
  }
}

@media (max-width: 768px) {
  .blockWrapper {
    width: calc(100dvw - 10px);
  }
}

@media (max-height: 495px) {
  .block {
    padding: 10px;
  }
}
