.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 20px;
  font-family: Shen;

  svg path {
    transition: 0.3s;
    stroke: #2e3034;
  }
}

.active {
  background: #debe03;
  color: #2e3034;

  &:hover {
    cursor: pointer;
    scale: 1.03;

    svg path {
      stroke: #084908;
    }
  }
}

.disabled {
  svg path {
    stroke: #73757a;
  }

  &:hover {
    cursor: not-allowed;
  }
}

.input {
  display: flex;
  flex-direction: row;
  gap: 10px;

  label {
    font-size: 20px;
    font-family: Shen;
    line-height: 25px;
  }

  input {
    width: 200px;
    font-size: 20px;
    font-family: Shen;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;

    &:focus-within {
      outline: none;
    }
  }
}

.error {
  outline: 2px solid #a00000;
}

.wrongPassword {
  font-size: 16px;
  text-align: center;
  color: #a00000;
  font-family: Shen;
}
