.info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  border-top: 1px solid #f5c20c;
  background: #2e3034;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 0px;
  height: min-content;

  .title {
    color: #747474;
  }

  p {
    color: #debe03;
    font-family: Shen;
    font-size: 26px;
    line-height: 34px;
  }
}

.green {
  color: #0b750b !important;
}

.red {
  color: #a80a0a !important;
}

.arrow {
  transition: 0.5s;

  g {
    fill: #debe03;
  }
}

.rotateArrow {
  transform: rotate(180deg);
}

.game {
  cursor: pointer;
  list-style: none;

  &::marker {
    content: '';
  }

  &::-webkit-details-marker {
    display: none;
  }
}

.infoLine {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.button {
  border: none;
  padding: 0px 10px;
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 30px;
  font-family: Shen;
  background: #debe03;
  color: #2e3034;

  svg {
    width: 20px;
    height: 20px;
    path {
      transition: 0.3s;
      stroke: #2e3034;
    }
  }

  &:hover {
    cursor: pointer;
    scale: 1.03;

    svg path {
      stroke: #5e0909;
    }
  }
}

@media (max-width: 768px) {
  .wait {
    position: sticky;
    bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 30px;

    p {
      line-height: 24px;
    }
  }

  .button {
    font-size: 20px;
  }

  .details {
    position: sticky;
    bottom: 0px;
    background: #f3e2a3;

    &[open] {
      padding-bottom: 20px;
    }
  }

  .game {
    padding-bottom: 20px;

    p {
      line-height: 30px;
    }
  }

  .info {
    p {
      font-size: 20px;
    }
  }
}
