.player {
  height: 40px;
  display: grid;
  width: 100%;
  align-items: center;
  text-align: center;
  border-radius: 10px;

  p {
    font-family: Shen;
    font-size: 20px;
  }

  svg {
    transition: 0.2s;

    path {
      transition: 0.4s;
    }

    &:hover {
      scale: 1.05;
      cursor: pointer;

      path {
        stroke: #531212;
      }
    }
  }

  &:nth-child(odd) {
    background: #debd03cc;
    color: #2e3034;

    svg {
      path {
        stroke: #2e3034;
      }
    }
  }

  &:nth-child(even) {
    background: #2e3034cc;
    color: #debe03;

    svg {
      path {
        stroke: #debe03;
      }
    }
  }
}

.adminView {
  grid-template-columns: 50px auto 100px 50px;
}

.playerView {
  grid-template-columns: 50px auto 100px;
}
