.addCard {
  height: 350px;
  width: 250px;
  padding: 15px;

  border-radius: 10px;
  background: url('/shared/assets/card_border.png');
  background-size: 100% 100%;

  transition: 0.3s;
  display: flex !important;

  justify-content: center;
  align-items: center;
}

.notOpened:hover {
  cursor: pointer;
  scale: 1.01;

  .plus svg {
    scale: 1.4;
  }
}

.plus {
  margin: auto;
  padding: 10px;
  border-radius: 50%;
  background-color: #f5f6f625;

  svg {
    width: 50px;
    height: 50px;
    transition: 0.4s;

    path {
      stroke: #f5f6f6;
    }
  }
}
