.info {
  color: #debe03;
  background: #2e3034;
  border-radius: 10px;
  list-style: none;
  display: grid;
  font-size: 20px;
  font-family: Shen;
  gap: 10px;
  padding: 5px;
  grid-template-columns: 25px 120px 205px 160px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;

  &::marker {
    content: '';
  }

  &::-webkit-details-marker {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  .title {
    color: #747474;
  }

  .red {
    color: #a80a0a;
  }

  .green {
    color: #0b750b;
  }
}

.player {
  background: #2e3034;
  border-radius: 10px;
  color: #debe03;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: Shen;
  padding: 5px 20px;

  .ready {
    color: #0b750b;
  }

  .notReady {
    color: #a80a0a;
  }
}

.inactiveFill {
  fill: #747474;
}

.inactiveStroke {
  stroke: #747474;
}

.baggage {
  fill: #293c92;
}

.biology {
  fill: #e36d03;
}

.facts {
  stroke: #04accd;
}

.health {
  fill: #cd2f2c;
}

.hobby {
  fill: #678e2d;
}

.profession {
  fill: #776f8f;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .info {
    grid-template-columns: 25px calc(100% - 250px) 205px;
  }

  .status {
    grid-column: span 3;
  }
}
