.form {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputBlock {
  display: grid;
  grid-template-columns: 150px 200px;
}

.inputHint {
  font-size: 22px;
  line-height: 38px;
  font-family: Shen;
}

.input {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #808080;
  background: #e2c55b;
  padding: 5px 10px;
  font-size: 22px;
  font-family: Shen;
  text-transform: capitalize;

  &:focus-visible {
    outline: 1px solid #808080;
  }
}

.errorBorder {
  border: 2px solid #a70c0c;
}

.button {
  font-size: 22px;
  border-radius: 10px;
  border: none;
  background: #2e3034;
  color: #f5f6f6;
  padding: 10px 30px;
  margin: auto;
  width: max-content;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    scale: 1.05;
  }
}

@media (max-width: 768px) {
  .inputBlock {
    grid-template-columns: 150px auto;
  }
}
