.info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-size: 30px;
    font-family: MistBrush;
    border-bottom: 1px solid #f5c20c;
    text-align: center;
  }
}

.disaster {
  color: #debe03;
  background: #2e3034;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-family: Shen;
  gap: 10px;
  padding: 5px 10px;
  align-items: center;
  text-align: center;

  &::marker {
    content: '';
  }

  &::-webkit-details-marker {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.active {
  fill: #ac8103;
}

.inactive {
  fill: #747474;
}

.description {
  background: #f5d152;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  font-family: Shen;
  text-align: center;
}

.risks {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}
