.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 20px;
  font-family: Shen;

  svg path {
    transition: 0.3s;
    stroke: #2e3034;
  }
}

.active {
  background: #debe03;
  color: #2e3034;

  &:hover {
    cursor: pointer;
    scale: 1.03;

    svg path {
      stroke: #084908;
    }
  }
}

.disabled {
  background: #73757a25;
  color: #2e303431;

  svg path {
    stroke: #73757a;
  }

  &:hover {
    cursor: not-allowed;
  }
}

.input {
  display: grid;
  grid-template-columns: 160px auto;
  gap: 10px;

  label {
    font-size: 20px;
    font-family: Shen;
    line-height: 25px;
  }

  input {
    width: 200px;
    font-size: 20px;
    font-family: Shen;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;

    &:focus-within {
      outline: none;
    }
  }
}

@media (max-width: 768px) {
  .input {
    display: flex;
    flex-direction: column;
  }
}
