.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 22px;
  font-family: Shen;

  a {
    padding: 0px 10px;
    border-radius: 10px;
    color: #f5f6f6;
    background: #2e3034;

    display: flex;
    flex-direction: row;
    gap: 10px;

    line-height: 35px;

    transition: 0.3s;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      scale: 1.03;
    }
  }
}

.infoLine {
  display: grid;
  grid-template-columns: 100px auto;

  p {
    line-height: 35px;
  }
}

.backButton {
  margin-top: 10px;
  width: max-content;
}
