.content {
  height: 100dvh;
  width: 100dvw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blockWrapper {
  max-width: 500px;
  max-height: 400px;

  width: calc(100dvw - 10px);
  height: calc(100dvh - 10px);
  padding: 10px;

  background: #2e3034;
  background-image: url('/shared/assets/border.png');
  background-size: 100% 100%;

  border-radius: 10px;
}

.blockWrapperWithHeader {
  display: grid;
  grid-template-rows: 50px auto;
}

.header {
  color: #f5f6f6;
  font-family: MistBrush;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
}

.block {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;

  background: #f3e2a3;

  color: #2e3034;

  border-radius: 10px;
}

@media (max-height: 400px) {
  .block {
    gap: 10px;
  }
}
