.gameView {
  display: grid;
  grid-template-rows: 40px auto min-content;
  height: 100%;
}

.gameInfoWrapper {
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(0 21 41);
    border-radius: 5px;
  }
}

.gameInfo {
  margin: 20px auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: auto;
}

@media (max-width: 768px) {
  .gameInfo {
    width: calc(100% - 10px);
    margin: 20px 5px;
  }

  .wait {
    min-height: calc(100dvh - 320px);
  }

  .game {
    min-height: calc(100dvh - 176px);
  }

  .gameView {
    display: block;
    height: max-content;
    overflow: visible;
  }
}
