.name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;

  svg path {
    stroke: #5e5e5e;
  }
}

.players {
  color: #808080;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.deleteButton {
  background: #2e3034 !important;

  svg path {
    stroke: #debe03;
  }

  &:hover svg path {
    stroke: #830707;
  }
}

.enterButton {
  svg path {
    stroke: #2e3034;
  }

  &:hover svg path {
    stroke: #084908;
  }
}
