.header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f5c20c;
  font-family: MistBrush;
  list-style: none;
  grid-template-columns: calc(100% - 60px) 30px;
  padding: 0px 15px;

  &::marker {
    content: '';
  }

  &::-webkit-details-marker {
    display: none;
  }

  h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }
}

.arrow {
  transition: 0.5s;

  g {
    fill: #2e3034;
  }
}

.rotateArrow {
  transform: rotate(180deg);
}

.block {
  margin-top: 5px;
}
