.noPlayers {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  h2 {
    font-family: Shen;
    font-size: 40px;
    text-align: center;
  }

  svg {
    height: 50px;
    width: 50px;

    path {
      fill: #2e3034;
    }
  }
}

.playersList {
  align-self: center;
  width: 700px;
  height: max-content;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: grid;
  text-align: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  background: #0000002c;

  p {
    font-family: Shen;
    font-size: 20px;
  }
}

.adminView {
  grid-template-columns: 50px auto 100px 50px;
}

.playerView {
  grid-template-columns: 50px auto 100px;
}

@media (max-width: 768px) {
  .noPlayers {
    height: calc(100dvh - 100px);
  }

  .playersList {
    width: 100%;
  }
}
