.selectBlock {
  width: 600px;
  margin: 5px auto;
  font-size: 20px;
  font-family: Shen;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.select {
  display: grid;
  grid-template-columns: auto 90px;
  gap: 10px;

  button {
    font-size: 20px;
    background: #2e3034;
    color: #debe03;
    border: none;
    border-radius: 10px;
    transition: 0.3s;

    &:hover {
      scale: 1.05;
      cursor: pointer;
    }
  }
}

.card {
  grid-template-columns: auto 90px;
}

.vote {
  grid-template-columns: auto 130px;
}

@media (max-width: 768px) {
  .selectBlock {
    width: 100%;
    padding: 5px;
  }
}
