.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardsSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sectionTitle {
  font-family: Shen;
  font-size: 30px;
  padding-left: 10px;
  border-bottom: 1px solid #debe03;
}

.cardsList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.baggage {
  background-color: #293c92 !important;
}

.biology {
  background-color: #e36d03 !important;
}

.facts {
  background-color: #04accd !important;
}

.health {
  background-color: #cd2f2c !important;
}

.hobby {
  background-color: #678e2d !important;
}

.professions {
  background-color: #776f8f !important;
}

.bunker {
  background-color: #535457 !important;
}

.disaster {
  background-color: #ac8103 !important;
}

.risk {
  background-color: #535457 !important;
}
